.display_post_container .PostCardWrapper {
    overflow: hidden;
    page-break-inside: avoid;
    break-inside: avoid;
}

.PostCardWrapper {
    width: 44vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3.5vh;
    background-color: white;
    padding: 2%;
    position: relative;
}

.user_info_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_info_card_1 {
    display: flex;
    flex-direction: row;
}

.card_profile_pic {
    height: 5vh;
    object-fit: cover;
    width: 2.6vw;
    border-radius: 50%;
    margin-left: 1vw;
    margin-top: 1.5vh;
}

.post_card_image {
    height: 35vh;
    object-fit: cover;
    width: 40vw;
    margin-left: 1vw;
    margin-top: 1.5vh;
}

.username_post_card p {
    margin: 3%;
    width: 25vw;
}

.post_card_date {
    color:gray;
    font-size: 0.8em;
}

.comment_box {
    margin-top: 2vh;
    border-left: 2px solid lightgray;
}

.menu_post_card_icon {
    margin-top: 2.2vh;
}

.menu_post_options {
    background-size: cover;
    position: absolute;
    width: 10vw;
    height: 10vh;
    left: 34.5vw;
    margin: 0;
    background-color: white;
    border: 0.8px solid lightgray;
    border-radius: 5px;
}

.edit_post{
    font-size: 0.8em;
    margin-left: 0.09em;
    margin-bottom: 0.09em;
    margin-top: 0.09em;
}

.icons_menu {
    display: flex;
    flex-direction: row;
    margin: 0.6em;
}

.icons_post_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
}

.sub_icons_post_card_1 {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

.sub_icons_post_card p {
    margin-right: 0.8vw;
}

@media screen and (max-width: 1000px) {
    .card_profile_pic {
        height: 5vh;
        width: 4.1vw;
    }
}

@media screen and (max-width: 550px) {
    .PostCardWrapper {
        width: 88vw;
    }
    .post_card_image {
        width: 84vw;
    }
    .card_profile_pic {
        height: 4.2vh;
        width: 7.6vw;
    }
}

@media screen and (max-width: 375px) {
    .username_post_card {
        font-size: 0.85em;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .user_card_content {
        font-size: 0.88em;
    }
    .icons_post_card {
        font-size: 0.8em;
    }
}
