.update_form{
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.input_edit_profile {
    display: flex;
    justify-content: center;
}

.update_label {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-weight: bold;
    width: 8vw;
    height: 2vh;
    margin-top: 4%;
}

.update_data {
    font-size: 0.8em;
    width: 14vw;
    height: 3vh;
    padding: 0.5%;
    margin: 3%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
}

#about_edit.update_data  {
    width: 32vw;
}

