.user_profile_and_links {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 3%;
    padding: 2%;
    background-color: white;
}

.user_profile_info {
    width: 17vw;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    align-items: center;
}

.profile_descriptoion_links {
    display: flex;
    flex-direction: column;
}

.profile_description {
    height: 15vh;
    width: 66vw;
    border-bottom: 1px solid lightgray;
    padding: 3%;
}

.profile_links {
    display: flex;
    flex-direction: row;
    height: 8vh;
    margin-right: 5vw;
    justify-content: center;
}

.card_profile_pic2 {
    height: 7.5vh;
    object-fit: cover;
    width: 4vw;
    border-radius: 50%;
    margin-left: 1vw;
    margin-top: 1.5vh;
}

.user_profile_buttons_options {
    display: flex;
    flex-direction: row;
}

#user_profile_buttons {
    margin-left: 0.7vw;
    margin-top: 11%;
    width: 9vw;
    height: 5vh;
    font-size: 0.6em;
    color: black;
    background-color: white;
    border: lightgray 2;
    border-radius: 2em;
}

@media screen and (max-width: 1060px) {
   .card_profile_pic2 {
        width: 5vw;
   }
}

@media screen and (max-width: 800px) {
    .card_profile_pic2 {
         width: 6vw;
    }
 }

 @media screen and (max-width: 700px) {
    #user_profile_buttons {
        font-size: 0.5em;
    }
 }

 @media screen and (max-width: 600px) {
    .user_profile_buttons_options {
        flex-direction: column;
    }
    #user_profile_buttons {
        width: auto;
        font-size: 0.5em;
    }
 }