.post_comment {
    padding-left: 1vw;
}

@media screen and (max-width: 375px) {
    .username_post_card {
        font-size: 0.85em;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .post_comment {
        font-size: 0.88em;
    }
}